@model IEnumerable<Astrofilm.Models.FUNCIONES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioBruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PELICULAS.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALAS.Ciudad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponibles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioBruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PELICULAS.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALAS.Ciudad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDFuncion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDFuncion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDFuncion })
        </td>
    </tr>
}

</table>
