<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASTROFILM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @* Añadido para Datapicker de JQueryUIHelpers.Mvc5 *@
    @Styles.Render("~/Content/themes/base/css")
    <style>
        .navbar-header img{
            width:6em;
            height:6em;
            margin-right:3em;
        }
        .custom{
            font-weight:bold;
            font-family:Candara;
            font-size:xx-large;
        }
        navbar-brand{
            color: red;
            font-size: 5em;
            font-family: 'Righteous', cursive;
        }
        li{
            padding-right: 1.3em;
            padding-left: 1.3em;
            font-size: 1.2em; 
        }
        barra{
            background-color:seagreen;
        }
    </style>

</head>
<body class="pt-0">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark barra"> <!--navbar-dark-->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                    @*<span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>*@
                </button>
                <img src="~/Content/propios/logo-Astrofilm.png" alt="logoAstrofilm"/>
                @Html.ActionLink("ASTROFILM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand custom" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Usuario"))
                        {
                            <li>@Html.ActionLink("Contacto", "Contact", "Home", new { @class = "nav-item" })</li>
                            <li>@Html.ActionLink("Mis Datos", "Edit", "MisDatos", new { @class = "nav-item" })</li>
                            <li>@Html.ActionLink("Archivo", "ArchivoPelis", "PELICULAS", new { @class = "nav-item" })</li>
                        }
                        if (User.IsInRole("Administrador")) //admin@empresa.com  admin123
                        {
                            //DROPDOWN BOOTSRAP con las opciones de administracion
                            <div id="controlesAdmin" class="dropdown">
                                <button class="btn btn-default dropdown-toggle text-white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                   Administración 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>@Html.ActionLink("Usuarios", "Index", "USUARIOS")</li>
                                    <li>@Html.ActionLink("Películas", "Index", "PELICULAS")</li>
                                    <li>@Html.ActionLink("Reservas", "Index", "RESERVAs")</li>
                                    <li>@Html.ActionLink("Listas", "Index", "LISTAS")</li>
                                    <li>@Html.ActionLink("Críticas", "Index", "CRITICAS")</li>
                                    <li>@Html.ActionLink("Funciones", "Index", "FUNCIONES")</li>
                                    <li>@Html.ActionLink("Géneros", "Index", "GENEROS")</li>
                                    <li>@Html.ActionLink("Salas", "Index", "SALAS")</li>
                                    <li>@Html.ActionLink("Trabajadores", "Index", "TRABAJADORES")</li>
                                    <li>@Html.ActionLink("Géneros", "Index", "GENEROS")</li>
                                </ul>
                            </div>
                            //
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Archivo", "ArchivoPelis", "PELICULAS")</li>
                        }
                    }
                    else //Cualquiera
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Archivo", "ArchivoPelis", "PELICULAS")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @* Añadido para Datapicker de JQueryUIHelpers.Mvc5 *@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("scripts", required: false)
</body>
</html>
