<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASTROFILM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @* Añadido para Datapicker de JQueryUIHelpers.Mvc5 *@
    @Styles.Render("~/Content/themes/base/css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ASTROFILM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Usuario"))
                        {
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Mis Datos", "Edit", "MisDatos")</li>
                        }
                        if (User.IsInRole("Administrador")) //admin@empresa.com  admin123
                        {
                            //DROPDOWN BOOTSRAP con las opciones de administracion
                            <div id="controlesAdmin" class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                   Administración 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>@Html.ActionLink("Usuarios", "Index", "USUARIOS")</li>
                                    <li>@Html.ActionLink("Películas", "Index", "PELICULAS")</li>
                                    <li>@Html.ActionLink("Reservas", "Index", "RESERVAs")</li>
                                    <li>@Html.ActionLink("Listas", "Index", "LISTAS")</li>
                                    <li>@Html.ActionLink("Críticas", "Index", "CRITICAS")</li>
                                    <li>@Html.ActionLink("Funciones", "Index", "FUNCIONES")</li>
                                    <li>@Html.ActionLink("Géneros", "Index", "GENEROS")</li>
                                    <li>@Html.ActionLink("Salas", "Index", "SALAS")</li>
                                    <li>@Html.ActionLink("Trabajadores", "Index", "TRABAJADORES")</li>
                                    <li>@Html.ActionLink("Género", "Index", "GENERO")</li>
                                </ul>
                            </div>
                            //
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        }
                    }
                    else //Cualquiera
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @* Añadido para Datapicker de JQueryUIHelpers.Mvc5 *@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("scripts", required: false)
</body>
</html>
