@model Astrofilm.Models.LISTAS

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>LISTAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NElementos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PELICULAS.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLABORADORES_LISTAS.IDListaFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLABORADORES_LISTAS.IDListaFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS.Apellidos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDLista }) |
    @Html.ActionLink("Volver al Inicio", "Index")
</p>
