@model Astrofilm.Models.SALAS

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>SALAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aforo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aforo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDSala }) |
    @Html.ActionLink("Volver al Inicio", "Index")
</p>
