@model Astrofilm.Models.RESERVA

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>RESERVA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FecReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumButaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumButaca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioNeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioNeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUNCIONES.IDFuncion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FUNCIONES.IDFuncion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS.Apellidos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDReserva }) |
    @Html.ActionLink("Back to List", "Index")
</p>
