@model IEnumerable<Astrofilm.Models.RESERVA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FecReserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumButaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioNeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FUNCIONES.IDFuncion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIOS.Apellidos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FecReserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumButaca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioNeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FUNCIONES.IDFuncion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIOS.Apellidos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDReserva }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDReserva }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDReserva })
        </td>
    </tr>
}

</table>
