@model Astrofilm.Models.USUARIOS

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>USUARIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecNac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Premium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Premium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS_AMIGOS.IDAmigoFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS_AMIGOS.IDAmigoFK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
