@model IEnumerable<Astrofilm.Models.CRITICAS>

@{
    ViewBag.Title = "Index";
}

<h2>Criticas</h2>

<p class="btn btn-default btn-outline-primary">
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PELICULAS.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIOS.Apellidos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PELICULAS.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIOS.Apellidos)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDCritica }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IDCritica }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IDCritica })
        </td>
    </tr>
}

</table>
