@model Astrofilm.Models.PELICULAS

@{
    ViewBag.Title = "Details";
}
<head>
</head>

<h2>Detalles</h2>

<div style="height:50em;">
    <main class="w-50 float-left d-inline-block">
        <h4>PELICULAS</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                DIRECTOR
            </dt>
            <dd id="nomDirector">
                @foreach (var item in Model.TRABAJADORES)
                {
                    @Html.DisplayFor(modelItem => item.FullName)
                }

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Año)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Año)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PuntMedia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PuntMedia)
            </dd>
            <h3>Sinopsis</h3>
            <p>Lorem ipsum asdfas, Lorem ipsum asdfas, Lorem ipsum asdfas, Lorem ipsum asdfas, Lorem ipsum asdfas, Lorem ipsum asdfas, Lorem ipsum asdfas, Lorem ipsum asdfas, </p>

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Críticas
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div id="criticasContainer" class="card-body">
                            @foreach (var critica in Model.CRITICAS.Where(c => c.IDPeliFK == Model.IDPelicula))
                            {
                                @critica.Texto <b> - @critica.USUARIOS.Nombre</b> <br /> <br />

                            }
                            @if (User.IsInRole("Administrador") || User.IsInRole("Usuario"))
                            {
                                <i class="fas fa-plus-circle fa-lg" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="color:dodgerblue;"></i>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        @*{
                                            var criticaNew = ViewBag.criticaObj;
                                            string txt = "test";
                                            @*@Model.IDPelicula;*@
                                            //var mailUser = @User.Identity.Name;

                                            criticaNew.Texto = txt;
                                            criticaNew.IDUserFK = ViewBag.IDUser;
                                            criticaNew.IDPeliFK = Model.IDPelicula;
                                            //necesito : idCritica, texto, idUserfk, idPeliFk
                                            Model.CRITICAS.Add(criticaNew);
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @*<dt>
                    @Html.DisplayNameFor(model => model.Imagen)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Imagen)
                    <img src="~/Content/Images/Peliculas/@Html.DisplayFor(item => item.Imagen)" style="width:600px"/>
                </dd>*@
        </dl>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.IDPelicula }) |
            @Html.ActionLink("Volver al Inicio", "Index")
        </p>
    </main>
    <aside class="float-right">
        @*<h2>@Html.DisplayFor(model => model.Imagen)</h2>*@
        <img src="~/Content/Images/Peliculas/@Html.DisplayFor(item => item.Imagen)" style="width:400px;" />
    </aside>
</div>
@*<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />*@

@section Scripts {
    <script src="https://kit.fontawesome.com/333dc4d096.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
